//colors
$color_silver_chalice_approx: #acacae;
$color_alabaster_approx: #f9f9f9;
$silver_chalice: #acacac;
$color_pickled_bluewood_approx: #344356;
$color_dodger_blue_buffer: #41546b;
$color_dodger_blue_approx: #4092ff;
$white_32: rgba(255, 255, 255, 0.32);
$white: #ffffff;
$color_dodger_blue_50_approx: rgba(64, 146, 255, 0.5);
$color_gunsmoke_approx: #7e8288;
$black: #000000;
$color_dove_gray_approx: #6e6f73;
$color_storm_dust_approx: #646464;
$color_fuscous_gray_approx: #535353;
$white_5: rgba(255, 255, 255, 0.05);
$color_shady_lady_20_approx: rgba(168, 168, 168, 0.2);
